.oe-date-calendar-header-close {
    text-align: right;
}

.oe-date-calendar-header-navigation {

    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
}

.mdc-icon-button.mat-mdc-icon-button.mat-mdc-button-base {
    margin-bottom: 0px;
}