<mat-tab-group>
    <mat-tab label="ElementRef">
        <app-element-ref></app-element-ref>
    </mat-tab>
    <mat-tab label="ChangeDetectorRef">
        <app-change-detector-ref></app-change-detector-ref>
    </mat-tab>
    <mat-tab label="selfSaveDropdown">
        <app-self-save-dropdown></app-self-save-dropdown>
    </mat-tab>
    <mat-tab label="letDirective">
        <app-let-directive></app-let-directive>
    </mat-tab>
    <mat-tab label="ngTemplateOutletUsage">
        <ngTemplateOutletUsage></ngTemplateOutletUsage>
    </mat-tab>
    <mat-tab label="headlessComponent">
        <app-headless-component></app-headless-component>
    </mat-tab>
    <mat-tab label="ng-template-outlet-select">
        <app-ng-template-outlet-select></app-ng-template-outlet-select>
    </mat-tab>
    <mat-tab label="viewPattern">
        <app-view-pattern></app-view-pattern>>
    </mat-tab>
    <mat-tab label="methodDecorator">
        <app-http-request-cache></app-http-request-cache>
    </mat-tab>
    <mat-tab label="lifeCycle2">
        <app-expression-changed></app-expression-changed>
    </mat-tab>
    <mat-tab label="lifeCycle1">
        <app-life-cycle></app-life-cycle>
    </mat-tab>
    <mat-tab label="throwError">
        <app-throw-error></app-throw-error>
    </mat-tab>
    <mat-tab label="browserRefresh">
        <app-refresh></app-refresh>
    </mat-tab>
    <mat-tab label="routerEvent">
        <app-router-event></app-router-event>
    </mat-tab>
    <mat-tab label="@ViewChild">
        <app-view-child></app-view-child>
    </mat-tab>
    <mat-tab label="NgTemplate">
        <app-ng-template></app-ng-template>
    </mat-tab>
    <mat-tab label="NgTemplateOutlet">
        <app-ng-template-outlet></app-ng-template-outlet>
    </mat-tab>

    <mat-tab label="modal">
        <app-modal-example></app-modal-example>
    </mat-tab>
    <mat-tab label="DigitalOnly">
        <app-digital-only></app-digital-only>
    </mat-tab>



    <mat-tab label="StorageDecorator">
        <storage></storage>>
    </mat-tab>

    <mat-tab label="PrefetchOnValueChanges">
        <prefetch-on-value-changes></prefetch-on-value-changes>
    </mat-tab>

    <mat-tab label="trackChangesDecorator">
        <track-changes></track-changes>
    </mat-tab>

    <mat-tab label="onPropertyChangeDecorator">
        <on-property-change></on-property-change>
    </mat-tab>



    <mat-tab label="viewContainerRef">
        <app-view-container-ref></app-view-container-ref>
    </mat-tab>



    <mat-tab label="structural-directive">

        <app-test-structural-directive></app-test-structural-directive>

    </mat-tab>

    <mat-tab label="child-instance">
        <ng-template matTabContent>
            <child-instance></child-instance>
        </ng-template>
    </mat-tab>

    <mat-tab label="hostbinding">
        <ng-template matTabContent>
            <host-binding></host-binding>
        </ng-template>
    </mat-tab>
    <mat-tab label="NgControl">
        <ng-template matTabContent>
            <validation-border></validation-border>
        </ng-template>
    </mat-tab>
    <mat-tab label="use-existing">
        <ng-template matTabContent>
            <app-use-existing></app-use-existing>
        </ng-template>
    </mat-tab>
    <mat-tab label="use-factory">
        <ng-template matTabContent>
            <app-di-use-factory></app-di-use-factory>
        </ng-template>
    </mat-tab>
    <mat-tab label="track-by">
        <ng-template matTabContent>
            <app-ng-for-track-by></app-ng-for-track-by>
        </ng-template>
    </mat-tab>
    <mat-tab label="three-ways-to-alter-validator">
        <ng-template matTabContent>
            <app-three-ways-to-alter-validator></app-three-ways-to-alter-validator>
        </ng-template>
    </mat-tab>
    <mat-tab label="cisco-tabs">
        <ng-template matTabContent>
            <cisco-tabs></cisco-tabs>
        </ng-template>
    </mat-tab>
    <mat-tab label="componentFactoryResolver">
        <ng-template matTabContent>
            <app-component-factory-resolver></app-component-factory-resolver>
        </ng-template>
    </mat-tab>






</mat-tab-group>