<mat-tab-group>
    <mat-tab label="equal-validator">
        <ng-template matTabContent>
           <app-test-equal-validator></app-test-equal-validator>
        </ng-template>
    </mat-tab>

    <mat-tab label="color-picker">
        <ng-template matTabContent>
            <my-color-picker></my-color-picker>
        </ng-template>
    </mat-tab>
    <mat-tab label="counter-input">
        <ng-template matTabContent>
            <counter-input-parent></counter-input-parent>
        </ng-template>
    </mat-tab>
    <mat-tab label="custom-element">
        <ng-template matTabContent>
            <custom-element></custom-element>
        </ng-template>
    </mat-tab>
    <mat-tab label="rating-input">
        <ng-template matTabContent>
            <rating-input></rating-input>
        </ng-template>
    </mat-tab>
    <mat-tab label="reusable-form-control">
        <ng-template matTabContent>
            <reusable-form-control></reusable-form-control>
        </ng-template>
    </mat-tab>
    <mat-tab label="signup-form">
        <ng-template matTabContent>
            <signup-form></signup-form>>
        </ng-template>
    </mat-tab>
    <mat-tab label="text-input">
        <ng-template matTabContent>
            <text-input-parent></text-input-parent>
        </ng-template>
    </mat-tab>
    <mat-tab label="password-confirm">
        <ng-template matTabContent>
           <app-password-confirm-validator></app-password-confirm-validator>
        </ng-template>
    </mat-tab>
    <mat-tab label="resetableInput">
        <ng-template matTabContent>
           <app-resettable-input-parent></app-resettable-input-parent>
        </ng-template>
    </mat-tab>
   
</mat-tab-group>