<h2>HTML div3</h2>
<div class="center-table">
    <div class="flex-table">
        <div class="flex-tc">
            <div class="flex-th">Company</div>
            <div class="flex-td">Alfreds Futterkiste</div>
            <div class="flex-td">1234567890</div>
        </div>
        <div class="flex-tc">
            <div class="flex-th">Contact</div>
            <div class="flex-td">Maria Anders</div>
            <div class="flex-td">1234567890</div>
        </div>
        <div class="flex-tc">
            <div class="flex-th">Coundivy123456789012345 1234567890</div>
            <div class="flex-td">Gwenanny</div>
            <div class="flex-td">1234567890</div>
        </div>
    </div>
</div>