<mat-toolbar color="warn">
    <button mat-button routerLink='setError'>setError</button>
    <button mat-button routerLink='NestedFormArray'>NestedFormArray</button>
    <button mat-button routerLink='NestedFormArray2'>NestedFormArray</button>
    <button mat-button routerLink='NestedFormGroup'>NestedFormGroup</button>
    <button mat-button routerLink='PatchFormArray'>PatchFormArray</button>
    <button mat-button routerLink='FormSearch'>FormSearch</button>
</mat-toolbar>
<router-outlet></router-outlet>
