
<mat-tab-group>

    <mat-tab label="visitor">
        <visitor></visitor>
    </mat-tab>
    <mat-tab label="bridgePattern">
        <bridge></bridge>
    </mat-tab>
    <mat-tab label="decorator">
        <decorator></decorator>
    </mat-tab>

    <mat-tab label="bridgeComponent">
        <app-widget-wrapper>
            <app-velocity-widget></app-velocity-widget>
        </app-widget-wrapper>
        <app-widget-wrapper>
            <app-weather-widget></app-weather-widget>
        </app-widget-wrapper>   
        

    </mat-tab>

     
    
</mat-tab-group>
