<mat-toolbar color="warn">
  <button mat-button routerLink='BasicDrawer'>BasicDrawer</button>
  <button mat-button routerLink='sidenav'>sidenav</button>
  <button mat-button routerLink='menu'>menu</button>
  <button mat-button routerLink='select'>select</button>
  <button mat-button routerLink='SlectSelectionChange'>SlectSelectionChange</button>
  <!-- <button mat-button routerLink='Stepper'>Stepper</button>
  <button mat-button routerLink='Tab'>Tab</button> -->
  <!-- <button mat-button routerLink='TreeDynamicLoad'>TreeDynamicLoad</button> -->

  <button mat-button routerLink='MatDateFormats'>MatDateFormats</button>
  <button mat-button routerLink='MatDateRangePicker'>DateRangePicker</button>
  <button mat-button routerLink='MatCalendar'>Calendar</button>
  <button mat-button routerLink='MatCalendar-dateClass'>Calendar-dateClass</button>


  <button mat-button routerLink='MatFormFieldControl'>FormFieldControl</button>
  <button mat-button routerLink='Table'>Table</button>
  <button mat-button routerLink='Checkbox'>Checkbox</button>
</mat-toolbar>
<router-outlet></router-outlet>