<mat-tab-group>
    <mat-tab label="ScrollElement">
        <ng-template matTabContent>
            <app-scroll-element></app-scroll-element>
        </ng-template>
    </mat-tab>
    <mat-tab label="DocumentHeight">
        <ng-template matTabContent>
            <app-document-height></app-document-height>
        </ng-template>
    </mat-tab>
    <mat-tab label="ScrollOffsetMaintained">
        <ng-template matTabContent>
            <app-scroll-offset-maintained></app-scroll-offset-maintained>
        </ng-template>
    </mat-tab>
    <mat-tab label="ScrollSmoothly">
        <ng-template matTabContent>
            <app-scroll-smoothly></app-scroll-smoothly>
        </ng-template>
    </mat-tab>
    <mat-tab label="ScrollToDivBottom">
        <ng-template matTabContent>
            <app-scroll-to-div-bottom></app-scroll-to-div-bottom>
        </ng-template>
    </mat-tab>
    <mat-tab label="guide">
        <ng-template matTabContent>
            <app-guide></app-guide>
        </ng-template>
    </mat-tab>
</mat-tab-group>
 