<p>width-auto works!</p>

<div style="width:50%">
    <!--
        The initial width of a block level element like div or p is auto. 
        This makes it expand to occupy all available horizontal space within its containing block.
         If it has any horizontal padding or border, the widths of those do not add to the total width of the element.
    -->
    <div style="width:auto;background:red;padding:20px;margin:30px;border:20px solid black">width:auto;padding:20px;margin:30px</div>
    <div style="width:100%;background:green;padding:20px;border:20px solid black">width:100%;</div>
</div>
