<header>
    <h1>Header</h1>
</header>

<nav>
    <!-- main navigation in here -->
</nav>

<!-- Here is our page's main content -->
<main>

    <!-- It contains an article -->
    <!--
        The HTML <article> element represents a self-contained composition in a document, page, application,
             or site, which is intended to be independently distributable or reusable (e.g., in syndication). 
             Examples include: a forum post, a magazine or newspaper article, or a blog entry, a product card, 
             a user-submitted comment, an interactive widget or gadget, or any other independent item of content.
    -->
    <article>
        <h2>Article heading</h2>

        <!-- article content in here -->
        <!--https://developer.mozilla.org/en-US/docs/Web/HTML/Element/address-->
        <!--The HTML <address> element indicates 
        that the enclosed HTML provides contact information for a person or people, or for an organization.-->
        <address>
            <a href="mailto:jim@rock.com">jim@rock.com</a><br>
            <a href="tel:+13115552368">(311) 555-2368</a>
        </address>
    </article>

    <aside>
        <h2>Related</h2>

        <!-- aside content in here -->
    </aside>


</main>

<!-- And here is our main footer that is used across all the pages of our website -->

<footer>
    <!-- footer content in here -->
</footer>