<mat-tab-group>
    <mat-tab label="custom-two-way-binding">
        <app-custom-two-way-binding [(message)]="title"></app-custom-two-way-binding>
    </mat-tab>

    <mat-tab label="sanitization">
        <app-sanitization></app-sanitization>
    </mat-tab>

    <mat-tab label="ViewProviders">
        <app-view-providers></app-view-providers>
    </mat-tab>

    <mat-tab label="export-as-directive">
        <app-export-as-directive-main></app-export-as-directive-main>
    </mat-tab>

    

    <mat-tab label="contentChild">
        <app-content-child>
            <div ngProjectAs='header'>Card Header</div>
            <span id='card-sub-header'>Card Sub Header</span>
            <div class="card-body">
                This is a card Body!!!
            </div>
            <footer title="card-footer">
                Card Footer.
            </footer>
        </app-content-child>

    </mat-tab>

</mat-tab-group>