<mat-tab-group>
  <mat-tab label="flexProject">
    <ng-template matTabContent>
      <app-flex-project></app-flex-project>
    </ng-template>
  </mat-tab>
  <mat-tab label="flexProject2">
    <ng-template matTabContent>
      <app-flex-project2></app-flex-project2>
    </ng-template>
  </mat-tab>

  <mat-tab label="center table">
    <ng-template matTabContent>
      <app-flex-center-table></app-flex-center-table>
    </ng-template>
  </mat-tab>

  <mat-tab label="margin-auto">
    <ng-template matTabContent>
      <app-margin-auto></app-margin-auto>
    </ng-template>
  </mat-tab>
  <mat-tab label="center table 2">
    <ng-template matTabContent>
      <app-flex2></app-flex2>
    </ng-template>
  </mat-tab>
  <mat-tab label="flex-basis">
    <ng-template matTabContent>
      <app-flex-basis></app-flex-basis>
    </ng-template>
  </mat-tab>
  <mat-tab label="media-query-status">
    <ng-template matTabContent>
      <media-query-status></media-query-status>
    </ng-template>
  </mat-tab>
  <mat-tab label="flex-layout2">
    <ng-template matTabContent>
      <app-flex-layout2></app-flex-layout2>
    </ng-template>
  </mat-tab>
  <mat-tab label="responsive-card-grid">
    <ng-template matTabContent>
      <app-responsive-card-grid></app-responsive-card-grid>
    </ng-template>
  </mat-tab>
  <mat-tab label="flex-item-initial-width">
    <ng-template matTabContent>
      <app-flex-item-initial-width></app-flex-item-initial-width>
    </ng-template>
  </mat-tab>
  <mat-tab label="responsive-card-gridh">
    <ng-template matTabContent>
      <app-responsive-card-grid></app-responsive-card-grid>
    </ng-template>
  </mat-tab>

  <mat-tab label="responsive-navigation-header">
    <ng-template matTabContent>
      <responsive-navigation-header></responsive-navigation-header>
    </ng-template>
  </mat-tab>

  <mat-tab label="fx-layout-ngclass">
    <ng-template matTabContent>
      <app-fx-layout-ngclass></app-fx-layout-ngclass>
    </ng-template>
  </mat-tab>



</mat-tab-group>