
 <mat-tab-group>

    <mat-tab label="app-a11y-describedby">
        <app-a11y-describedby></app-a11y-describedby>
    </mat-tab>
    
    <mat-tab label="general">
        <app-a11y-general></app-a11y-general>
    </mat-tab>

    <mat-tab label="roving-index">
        <app-roving-index></app-roving-index>
    </mat-tab>

    <mat-tab label="focus-trap">
        <app-focus-trap></app-focus-trap>
    </mat-tab>

    <mat-tab label="app-a11y-form">
        <app-a11y-form></app-a11y-form>
    </mat-tab>
   
   



</mat-tab-group>