.frame {
    height: 70%;
    position: absolute;
    width: 90%;
    z-index: 100;
    top: 100;
    margin-top: 10px;
    background-color: gray;
    overflow: scroll;
  }
  
  .item {
    padding: 120px 50px;
    margin: 20px;
    background-color: white;
  }