<mat-tab-group>
    <mat-tab label="customOperator">
        <app-custom-operator></app-custom-operator>
     </mat-tab>
   
    <mat-tab label="retryWhen">
       <app-retry-when></app-retry-when>
    </mat-tab>

    <mat-tab label="retryWhen2">
        <app-retry-when2></app-retry-when2>
     </mat-tab>

     <mat-tab label="throwError">
        <app-throw-error></app-throw-error>
     </mat-tab>

     


    <mat-tab label="withLatestFrom">
        <app-with-latest-from></app-with-latest-from>
    </mat-tab>
    <mat-tab label="take">
        <app-take></app-take>
    </mat-tab>
    <mat-tab label="concatMap">
        <app-concat-map></app-concat-map>
    </mat-tab>
    <mat-tab label="switchMap">

        <app-switch-map></app-switch-map>
    </mat-tab>
    <mat-tab label="mergeMap">
        <app-merge-map></app-merge-map>
    </mat-tab>
</mat-tab-group>