<div class="msx-form-builder-test">
	<msx-tabs (selectedChange)="tabChange($event)">
		<msx-tab [value]="tabs.normal">
			<div>Normal</div>
		</msx-tab>
		<msx-tab [value]="tabs.static">
			<div>Static</div>
		</msx-tab>
		<msx-tab [value]="tabs.group">
			<div>Group</div>
		</msx-tab>
		<msx-tab [value]="tabs.normalAndGroup">
			<div>Normal Fields with Group</div>
		</msx-tab>
		<msx-tab [value]="tabs.nested">
			<div>Nested Form</div>
		</msx-tab>
		<msx-tab [value]="tabs.dynamic">
			<div>Dynamic Field Form</div>
		</msx-tab>
	</msx-tabs>
	<div *ngIf="selectedTab === tabs.normal" class="msx-form-builder-test__form-section">
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
    <p>---------------------</p>
	</div>
	 
</div>
 
