<div class="container">
    
    <h2>Normal</h2>
    <div class="flex-container" fxLayout="row">
      <div class="child-1">1. One</div> 
      <div class="child-2">2. Two</div> 
      <div class="child-3">3. Three</div>
    </div>

    <h2>Default</h2>
    <div class="flex-container" fxLayout="row">
      <div class="child-1" fxFlex>1. One</div> 
      <div class="child-2" fxFlex>2. Two</div> 
      <div class="child-3" fxFlex>3. Three</div>
    </div>

    <h2>fxFlex with grow shrink values</h2>
    <div class="flex-container" fxLayout="row">
      <div class="child-1" fxFlex="2 1 0">1. One</div> 
      <div class="child-2" fxFlex>2. Two</div> 
      <div class="child-3" fxFlex>3. Three</div>
    </div>

</div>
