
<!-- <div id="map-canvas"></div> -->
<mat-toolbar color="primary" class="mat-elevation-z2">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink='/angularEmenets'>angularEmenets</button>
  <button mat-button routerLink='/designPattern'>designPattern</button>
  <button mat-button routerLink='/dummy'>dummy</button>
  <button mat-button routerLink='/google-maps'>google-maps</button>
  <button mat-button routerLink='/agm'>agm</button>
  <button mat-button routerLink='/custom-control'>custom-control</button>
  <button mat-button routerLink='/AngularEvent'>angular-event</button>
  <button mat-button routerLink='/material'>material</button>
  <button mat-button routerLink='/typescript'>typescript</button>
  <button mat-button routerLink='/chart'>chart</button>
  
    <!--
  <button mat-button routerLink='/app-flex'>flex</button>
  <button mat-button routerLink='/NestedForm'>NestedForm</button>



     
  <button mat-button routerLink='/dom-event'> dom-event</button>

  <button mat-button routerLink='/bootstrap'>bootstrap</button>


  <button mat-button routerLink='/scroll'>scroll</button>

 
  <button mat-button routerLink='/mat-custom-control'>mat-custom-control</button>
  <button mat-button routerLink='/NestedRouterOutlet'>NestedRouterOutlet</button>
    <button mat-button routerLink='/cdk'>cdk</button>

  -->
  <button mat-button routerLink='/mercury'>mercury</button>
  <button mat-button routerLink='/SnapShip'>SnapShip</button>
  <button mat-button routerLink='/chatRoom'>chatRoom</button>
  <button mat-button routerLink='/ngrx'>ngxr</button>
  <button mat-button routerLink='/a11y'>a11y</button>
  <button mat-button routerLink='/css'>css</button>
  <button mat-button routerLink='/Rxjs'>Rxjs</button>


</mat-toolbar>
<!--
<app-unit-test>
  unit test
  <button>test button</button>
  <ng-template #template>template code</ng-template>
</app-unit-test>
-->









<router-outlet id="first-router-outlet"></router-outlet>

