
<!-- <div id="map-canvas"></div> -->
<!-- <mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
      <mat-nav-list>
          <mat-list-item routerLink="#">
              <mat-icon>dashboard</mat-icon><span>Dashboard</span>
          </mat-list-item>
          <mat-expansion-panel [class.mat-elevation-z0]="true">
              <mat-expansion-panel-header>
                  Mobile Phone
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-list-item routerLink="#">
                      <mat-icon>apple</mat-icon><span>iOS</span>
                  </a>
                  <a mat-list-item routerLink="#">
                      <mat-icon>android</mat-icon><span>Android</span>
                  </a>
              </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel [class.mat-elevation-z0]="true">
              <mat-expansion-panel-header>
                  Frameworks
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-list-item routerLink="#">Spring</a>
                  <a mat-list-item routerLink="#">Hibernate</a>
                  <a mat-list-item routerLink="#">Struts</a>
              </mat-nav-list>
          </mat-expansion-panel>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

              Components open here
     
  </mat-sidenav-content>


</mat-sidenav-container>  -->


<mat-toolbar color="primary" class="mat-elevation-z2">
  <button mat-button routerLink='/angularEmenets'>angularEmenets</button>
  <!-- <button mat-button routerLink='/designPattern'>designPattern</button> -->
  <button mat-button routerLink='/signal'>signal</button>
  <!-- <button mat-button routerLink='/google-maps'>google-maps</button> -->
  <button mat-button routerLink='/ngrxV16'>ngrxV16</button>
  <button mat-button routerLink='/custom-control'>custom-control</button>
  <button mat-button routerLink='/AngularEvent'>angular-event</button>
  <button mat-button routerLink='/material'>material</button>
  <button mat-button routerLink='/typescript'>typescript</button>
  <button mat-button routerLink='/chart'>chart</button>
  
    <!--
  <button mat-button routerLink='/app-flex'>flex</button>
  <button mat-button routerLink='/NestedForm'>NestedForm</button>



     
  <button mat-button routerLink='/dom-event'> dom-event</button>

  <button mat-button routerLink='/bootstrap'>bootstrap</button>


  <button mat-button routerLink='/scroll'>scroll</button>

 
  <button mat-button routerLink='/mat-custom-control'>mat-custom-control</button>
  <button mat-button routerLink='/NestedRouterOutlet'>NestedRouterOutlet</button>
    <button mat-button routerLink='/cdk'>cdk</button>

  -->
  <button mat-button routerLink='/mercury'>mercury</button>
  <button mat-button routerLink='/SnapShip'>SnapShip</button>
  <button mat-button routerLink='/chatRoom'>chatRoom</button>
  <button mat-button routerLink='/ngrx'>ngxr</button>
  <button mat-button routerLink='/a11y'>a11y</button>
  <button mat-button routerLink='/css'>css</button>
  <button mat-button routerLink='/Rxjs'>Rxjs</button>


</mat-toolbar>
<!--
<app-unit-test>
  unit test
  <button>test button</button>
  <ng-template #template>template code</ng-template>
</app-unit-test>
-->

<div class="class1" *ngIf="show_myButton">
    <button class="class2" id="myButton">myButton</button>
</div>

<button class="class2" id="show_myButton" (click)="onShow_myButton()">show_myButton</button>










<router-outlet id="first-router-outlet"></router-outlet>

 

