<!-- <div id="map-canvas"></div> -->
<mat-toolbar color="warn">
    <button mat-button routerLink='googleMaps'>googleMaps</button>
    <button mat-button routerLink='fitMapToMarkers'>fitMapToMarkers</button>
    <button mat-button routerLink='startWithStreetView'>startWithStreetView</button>
    <button mat-button routerLink='mapDirectionsRenderer'>mapDirectionsRenderer</button>
    <button mat-button routerLink='mapBicyclingLayer'>mapBicyclingLayer</button>
    <button mat-button routerLink='mapMarkerCluster'>mapMarkerCluster</button>
    <!-- <button mat-button routerLink='mapCircle'>mapCircle</button> -->
</mat-toolbar>
<router-outlet></router-outlet>