$blue-5: #004990;
$blue-4: #0467c6;
$blue-3: #3685d1;
$blue-2: #9bc2e8;
$blue-1: #e5eff9;
$blue-0: #f6f9fc;
$red-4: #FF0000;
$red-3: #ca261a;
$red-2: #d55148;
$red-1: #f9e9e8;
$green-4: #098a00;
$green-3: #6bb966;
$green-2: #9dd099;
$green-1: #e6f3e5;
$white: #ffffff;

$black-8: #111111;
$black-7: #333333;
$black-6: #666666;
$black-5: #cbcbcb;
$black-4: #d9d9d9;
$black-3: #e5e5e5;
$black-2: #ebebeb;
$black-1: #f0f0f0;
$black: #000000;

$yellow-3: #ffbf05;
$yellow-2: #ffcc37;
$yellow-1: #ffefc0;

$searchBarBg: #ffffff;
$footer: #f3f3f3;
