/*
.mat-footer-row,
.mat-header-row,
.mat-row {
    display: inline-flex;
    min-width: 100%;
}
*/

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 100%;
}

//height must be set in .table-container
.table-container {
  flex: 1;
  min-height: 0;
  max-height: 400px;
  width: 80%;
  overflow: auto;
}

//we must set width  in table
table {
  width: 100%;
}

.w-75 {
  width: 45px;
}

.th-center{
    text-align: center;
}