<button (click)="testA11y()"> Test A11y! </button>
  <div #element role="dialog" hidden=true>
      <label>Sample field</label>
      <input #elementChild>
      <br/>
      <label>Sample field</label>
      <input #elementChild>
      <br/>
      <label>Sample field</label>
      <input #elementChild>
      <br/>
      <label>Sample field</label>
      <input #elementChild>
      <br/>
      <label>Sample field</label>
      <input #elementChild>
  </div>

  <button (click)="loseFocus()"> Lose Focus</button>